.fourteenth-container {
    background-color: #fa7d7d;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fourteenth-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.fourteenth-title {
    font-size: 2.5em;
    font-weight: bold;
}

.fourteenth-note {
    background-color: #ffcccc;
    border: 1px solid #ff9999;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    max-width: 50%;
    margin-left: 20px;
    font-family: 'Trebuchet MS';
}

.fourteenth-main {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.fourteenth-column {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    width: 40%;
}

.block__text, .block__image {
    width: 100%;
    margin-bottom: 20px;
}

.fourteenth-content-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.fourteenth-content-row .block__text {
    margin-left: 20px;
}
