.difference2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-image: url('assets/Difference5.jpg');
    background-size: cover;
    background-position: center;
}

.difference2-header {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
}

.difference2-media {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    width: 50%;
    height: 60vh;
    background-color: rgba(240, 248, 255, 0.5);
}

.media-element-df2 {
    height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
