.new-year {
    text-align: center;
    padding: 20px;
    background-color: rgb(0, 153, 195);
    min-height: calc(max(120vh, fit-content));
}

.new-year__container {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.new-year__left,
.new-year__right {
    width: 30%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.new-year__left > * {
    margin-bottom: 20px;
}

.image-container {
    position: relative;
}

.block__image {
    height: auto;
}

.tree-icon {
    position: absolute;
    right: -30%;
    top: 0;
    width: auto;
    height: 100%; /* Adjust the size of the tree as needed */
}
h1 {
    font-family: 'Trebuchet MS';
    color:aliceblue;
}
