.media-container-spb {
    display: flex;
    justify-content: center;
}

.video {
    width: 100%; /* Настроить по необходимости */
    /* aspect-ratio: 16/9; Установить соотношение сторон для горизонтального видео */
}

.photos {
    display: flex;
    justify-content: space-between;
}

.photo {
    width: 49%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.photo:last-child {
    margin-bottom: 0;
}
